<!DOCTYPE html>
<html>
<head>
  <title>Rhostore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h3><em>Note:  This is a test server.  The database is reset every hour.</em></h3>

<%= yield %>

</body>
</html>
